@charset "UTF-8";
/* colores  variables */
/**** import font ico ********/
@import url("style-fonts.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
html {
  color: #333333;
  font-size: 1em;
  line-height: 120%;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

a {
  outline: none;
}

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.contWrap {
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
}
.contWrap .top10 {
  margin-top: 10px;
}
.contWrap .top20 {
  margin-top: 20px;
}
.contWrap .top30 {
  margin-top: 30px;
}
.contWrap .top40 {
  margin-top: 40px;
}
.contWrap .top50 {
  margin-top: 50px;
}
.contWrap .top60 {
  margin-top: 60px;
}
.contWrap .left10 {
  margin-left: 10px;
}
.contWrap .left20 {
  margin-left: 20px;
}
.contWrap .left30 {
  margin-left: 30px;
}
.contWrap .left40 {
  margin-left: 40px;
}
.contWrap .cont {
  width: 80%;
  margin: 0;
  padding: 5px 10% 0;
  position: fixed;
  background-color: #002464;
  border-bottom: 5px solid #139DC9;
  z-index: 999999999;
}
.contWrap .cont .logo {
  width: 140px;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .cont .logo i {
  color: #ffffff;
  font-size: 42px;
  float: left;
}
.contWrap .cont .menuPrincipal {
  width: auto;
  float: right;
  margin: 5px 0 0 0;
  padding: 0;
}
.contWrap .cont .menuPrincipal ul {
  width: auto;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .cont .menuPrincipal ul li {
  width: auto;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.contWrap .cont .menuPrincipal ul li a {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  float: left;
  padding: 5px 10px 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  position: relative;
}
.contWrap .cont .menuPrincipal ul li a:hover {
  background-color: #ffffff;
  color: #002464;
}
.contWrap .cont .menuPrincipal ul li a:hover:before {
  border-bottom: 5px solid #ffffff;
  bottom: -5px;
  left: 0;
  display: block;
  content: "";
  position: absolute;
  width: 100%;
}
.contWrap .cont .menuPrincipal ul li a.act {
  background-color: #ffffff;
  color: #002464;
}
.contWrap .cont .menuPrincipal ul li a.act:before {
  border-bottom: 5px solid #ffffff;
  bottom: -5px;
  left: 0;
  display: block;
  content: "";
  position: absolute;
  width: 100%;
}
.contWrap .cont .menuPrincipal ul li a.act.acti {
  background-color: #ffffff;
  color: #002464;
}
.contWrap .cont .menuPrincipal ul li a.acti {
  background-color: #ffffff;
  color: #002464;
}
.contWrap .cont .menuPrincipal ul li a.acti:before {
  border-bottom: none;
  bottom: -5px;
  left: 0;
  display: block;
  content: "";
  position: absolute;
  width: 100%;
}
.contWrap .cont .menuPrincipal ul li ul.subMennu {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #ffffff;
  display: none;
  -webkit-box-shadow: 1px 18px 24px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 18px 24px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 18px 24px -5px rgba(0, 0, 0, 0.75);
}
.contWrap .cont .menuPrincipal ul li ul.subMennu li {
  float: left;
}
.contWrap .cont .menuPrincipal ul li ul.subMennu li a {
  color: #234E85;
  padding: 5px 20px;
}
.contWrap .cont .menuPrincipal ul li ul.subMennu li a:hover {
  background-color: #ffffff;
  color: #002464;
  text-decoration: underline;
}
.contWrap .cont .menuPrincipal ul li ul.subMennu li a:hover:before {
  border-bottom: none;
}
.contWrap .Banner {
  width: 100%;
  padding: 0;
  margin: 0px 0 0;
  top: 58px;
  min-height: 250px;
  position: relative;
  float: left;
  overflow: hidden;
}
.contWrap .Banner img {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Banner .Wrap {
  position: relative;
  left: 0;
  top: 0px;
  float: none;
  margin: 0 10%;
  padding: 0;
  float: none;
  width: 80%;
  display: inherit;
}
.contWrap .Banner .Wrap .contText {
  width: 525px;
  min-height: 117px;
  background-color: rgba(255, 255, 255, 0.7);
  right: 20px;
  top: 35px;
  position: absolute;
  padding: 25px;
}
.contWrap .Banner .Wrap .contText img {
  position: absolute;
  right: -20px;
  top: -36px;
  width: 120px;
}
.contWrap .Banner .Wrap .contText h4 {
  font-weight: normal;
  color: #139DC9;
  font-size: 18px;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.contWrap .Banner .Wrap .contText h2 {
  font-weight: 300;
  color: #002464;
  float: left;
  width: 100%;
  font-size: 34px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0;
}
.contWrap .Banner .Wrap .contText p {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  font-weight: normal;
  font-size: 14px;
  color: #000;
}
.contWrap .Banner .Wrap .contText a.btn {
  width: auto;
  background-color: #139DC9;
  color: #fff;
  margin: 10px 0;
  padding: 10px 15px;
  text-decoration: none;
  float: left;
}
.contWrap .Banner .Wrap .contText a.btn:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.contWrap .Wrap {
  width: 1004px;
  padding: 0 10px;
  margin: 57px auto 0;
  color: #ffffff;
}
.contWrap .Wrap .contFunciones {
  width: 100%;
  float: left;
  margin: 85px 0 0;
  padding: 0;
}
.contWrap .Wrap .contFunciones h3 {
  font-size: 18px;
  color: #002464;
  font-weight: normal;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 25px;
}
.contWrap .Wrap .contFunciones .contFun {
  width: 50%;
  float: left;
}
.contWrap .Wrap .contFunciones .contFun a {
  color: #ffffff;
  background-color: #6AAA1E;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  float: left;
  text-decoration: none;
  font-weight: normal;
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
.contWrap .Wrap .contFunciones .contFun a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.contWrap .Wrap .contFunciones .contFun a h4 {
  vertical-align: middle;
  font-weight: normal;
  margin: 15px 0;
  padding: 0;
}
.contWrap .Wrap .contFunciones .contFun a h4 span {
  margin: 0 0 0 10px;
}
.contWrap .Wrap .contFunciones .contFun a h4 i {
  font-size: 55px;
  vertical-align: middle;
}
.contWrap .Wrap .contFunciones .portal {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .contFunciones .portal a {
  width: 48%;
  float: left;
  margin: 0 0 0 2%;
  color: #002464;
  background-color: #EDEDF0;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
.contWrap .Wrap .contFunciones .portal a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.contWrap .Wrap .contFunciones .portal a h4 {
  vertical-align: middle;
  font-weight: normal;
  margin: 15px 0;
  padding: 0;
}
.contWrap .Wrap .contFunciones .portal a h4 span {
  margin: 0 0 0 0px;
}
.contWrap .Wrap .contFunciones .portal a h4 i {
  font-size: 55px;
  vertical-align: middle;
}
.contWrap .Wrap .Heramientas {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .Heramientas h3 {
  font-size: 18px;
  color: #002464;
  font-weight: normal;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 25px;
}
.contWrap .Wrap .Heramientas .ConHer {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .Heramientas .ConHer a {
  color: #002464;
  text-align: center;
  width: 20%;
  float: left;
  margin: 0 0%;
  padding: 0 6%;
  text-decoration: none;
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
  border-left: 2px solid #EDEDF0;
}
.contWrap .Wrap .Heramientas .ConHer a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.contWrap .Wrap .Heramientas .ConHer a:nth-child(1) {
  border: none;
}
.contWrap .Wrap .Heramientas .ConHer a i {
  font-size: 55px;
}
.contWrap .Wrap .Heramientas .ConHer a p {
  font-weight: normal;
  color: #000;
  float: left;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  padding: 0;
  font-size: 12px;
  line-height: 120%;
}
.contWrap .Wrap .Preguntas {
  width: 47%;
  float: left;
  margin: 0 0 0 1%;
  background-color: #EDEDF0;
  padding: 1%;
}
.contWrap .Wrap .Preguntas .contImg {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .Preguntas .contImg img {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .Preguntas .ContTexto {
  width: 48%;
  float: left;
  margin: 0 0 0 2%;
  padding: 0;
}
.contWrap .Wrap .Preguntas .ContTexto h4 {
  font-weight: normal;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #002464;
}
.contWrap .Wrap .Preguntas .ContTexto p {
  margin: 10px 0;
  float: left;
  width: 100%;
  color: #000;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
}
.contWrap .Wrap .Preguntas .ContTexto a {
  text-decoration: none;
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
.contWrap .Wrap .Preguntas .ContTexto a.btnAzul {
  background-color: #139DC9;
  color: #002464;
  font-size: 12px;
  padding: 5px 15px;
  float: none;
  width: auto;
  border-radius: 5px;
  font-weight: 500;
  margin: 5px auto;
  display: table;
}
.contWrap .Wrap .Preguntas .ContTexto a.btnAzul:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.contWrap .Wrap .contBannerFoter {
  width: 100%;
  margin: 25px 0;
  float: left;
  background-color: #EBEBEB;
}
.contWrap .Wrap .contBannerFoter .ConTextoBan {
  width: 35%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .contBannerFoter .ConTextoBan h4 {
  font-weight: 300;
  color: #002464;
  width: 100%;
  float: left;
  margin: 35px 0 0 45px;
  font-size: 20px;
}
.contWrap .Wrap .contBannerFoter .ConTextoBan p {
  color: #000;
  width: 100%;
  margin: 0 0 0 45px;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  font-weight: 300;
}
.contWrap .Wrap .contBannerFoter img {
  width: 65%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .CamMiga {
  width: 100%;
  float: left;
  margin: 10px 0;
  padding: 0;
}
.contWrap .Wrap .CamMiga ul {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .CamMiga ul li {
  width: auto;
  float: left;
  margin: 0 10px 0 0;
  font-size: 11px;
  font-weight: 300;
  color: #333334;
  padding: 0;
  list-style: none;
  position: relative;
}
.contWrap .Wrap .CamMiga ul li:nth-child(1):before {
  content: "";
  display: none;
}
.contWrap .Wrap .CamMiga ul li:before {
  content: "/";
  width: 5px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0;
  left: -6px;
}
.contWrap .Wrap .CamMiga ul li a {
  text-decoration: none;
  color: #333334;
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
}
.contWrap .Wrap h2 {
  width: 100%;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap h2.tit {
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  color: #002464;
  font-size: 26px;
}
.contWrap .Wrap p {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap p.bajada {
  font-size: 14px;
  list-style: 120%;
  color: #333334;
  margin: 20px 0;
  font-weight: 300;
}
.contWrap .Wrap .CjaIco {
  width: 98%;
  float: left;
  margin: 25px 0;
  background-color: #EDEDF0;
  padding: 1%;
}
.contWrap .Wrap .CjaIco i {
  color: #002464;
  font-size: 45px;
  float: left;
}
.contWrap .Wrap .CjaIco h4 {
  float: left;
  font-weight: normal;
  font-size: 16px;
  color: #000;
  margin: 15px 20px;
  font-family: "Roboto Condensed", sans-serif;
}
.contWrap .Wrap .contSidebar {
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
.contWrap .Wrap .contSidebar .MenuClon {
  display: none;
  position: fixed;
  top: 90px;
  left: 460px;
  width: 52%;
}
.contWrap .Wrap .contSidebar a {
  text-decoration: none;
  float: left;
  text-align: left;
}
.contWrap .Wrap .contSidebar a.Volver {
  background-color: #139DC9;
  color: #ffffff;
  padding: 2%;
  font-weight: 300;
  font-size: 12px;
  width: 96%;
}
.contWrap .Wrap .contSidebar a.Volver i {
  font-size: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.contWrap .Wrap .contSidebar .contMenuLateral {
  width: 100%;
  float: left;
  margin: 15px 0;
  padding: 0;
}
.contWrap .Wrap .contSidebar .contMenuLateral ul {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}
.contWrap .Wrap .contSidebar .contMenuLateral ul li {
  width: 100%;
  float: left;
  list-style: none;
  padding: 0%;
  font-size: 14px;
}
.contWrap .Wrap .contSidebar .contMenuLateral ul li:nth-child(1) {
  border-top: 1px solid #CECED1;
}
.contWrap .Wrap .contSidebar .contMenuLateral ul li a {
  text-align: left;
  float: left;
  margin: 0;
  padding: 2%;
  font-size: 12px;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  width: 96%;
  border-left: 1px solid #CECED1;
  border-right: 1px solid #CECED1;
  border-bottom: 1px solid #CECED1;
}
.contWrap .Wrap .contSidebar .contMenuLateral ul li a.acti {
  background-color: #002464;
  color: #ffffff;
  border: 1px solid #002464;
}
.contWrap .Wrap .contSidebar .contMenuLateral ul li a.acti:hover {
  background-color: #002464;
  color: #ffffff;
  border: 1px solid #002464;
}
.contWrap .Wrap .contSidebar .contMenuLateral ul li a:hover {
  background-color: #EDEDF0;
  color: #000;
}
.contWrap .Wrap .contSidebar .contMenuLateral ul li ul {
  display: none;
}
.contWrap .Wrap .contSidebar .contMenuLateral ul li ul li {
  width: 100%;
  padding: 0 0 0 0%;
}
.contWrap .Wrap .contSidebar .contMenuLateral ul li ul li a {
  width: 94%;
  padding: 2% 0 2% 6%;
  position: relative;
  background-color: rgba(0, 38, 97, 0.1);
}
.contWrap .Wrap .contSidebar .contMenuLateral ul li ul li a:before {
  content: "•";
  position: absolute;
  left: 4px;
  top: 4px;
  font-size: 22px;
}
.contWrap .Wrap .contGeneral {
  width: 78%;
  float: left;
  margin: 0 0 0 2%;
  padding: 0;
}
.contWrap .Wrap .contGeneral.wid100 {
  width: 98%;
  margin: 0 1%;
}
.contWrap .Wrap .contGeneral.top10 {
  margin-top: 10px;
}
.contWrap .Wrap .contGeneral.top20 {
  margin-top: 20px;
}
.contWrap .Wrap .contGeneral.top30 {
  margin-top: 30px;
}
.contWrap .Wrap .contGeneral.top40 {
  margin-top: 40px;
}
.contWrap .Wrap .contGeneral.top50 {
  margin-top: 50px;
}
.contWrap .Wrap .contGeneral.top60 {
  margin-top: 60px;
}
.contWrap .Wrap .contGeneral table {
  margin-bottom: 30px;
}
.contWrap .Wrap .contGeneral table thead {
  background-color: #002464;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
}
.contWrap .Wrap .contGeneral table thead tr th {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  background-color: #002464;
  border: 0.1px solid #000;
  border-collapse: separate;
  border-spacing: 0px;
  color: #FFFFFF;
  padding: 10px;
}
.contWrap .Wrap .contGeneral table thead tr th:nth-child(1) {
  width: 20%;
}
.contWrap .Wrap .contGeneral table thead tr th:nth-child(1) {
  width: 20%;
}
.contWrap .Wrap .contGeneral table thead tr th:nth-child(3) {
  width: 30%;
}
.contWrap .Wrap .contGeneral table tbody {
  color: #002464;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
}
.contWrap .Wrap .contGeneral table tbody tr {
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0px;
}
.contWrap .Wrap .contGeneral table tbody tr td {
  border: 1px solid #000;
  padding: 10px;
}
.contWrap .Wrap .contGeneral h3 {
  width: 100%;
  float: left;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #EDEDF0;
  font-size: 24px;
}
.contWrap .Wrap .contGeneral .contGenPrin {
  width: 100%;
  float: left;
  margin: 20px 0;
  padding: 0;
}
.contWrap .Wrap .contGeneral .contGenPrin p {
  width: 100%;
  float: left;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  line-height: 120%;
}
.contWrap .Wrap .contGeneral .contGenPrin.wid50 {
  width: 50%;
}
.contWrap .Wrap .contGeneral .contGenPrin ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .contGeneral .contGenPrin ul li {
  list-style-type: none;
  width: 96%;
  float: left;
  padding: 0 0 0 4%;
  margin: 10px 0 0;
  color: #002464;
  font-size: 12px;
  position: relative;
}
.contWrap .Wrap .contGeneral .contGenPrin ul li:before {
  content: "•";
  position: absolute;
  left: 20px;
  top: 0;
  color: #002464;
}
.contWrap .Wrap .contGeneral .contVideoGeneral {
  width: 100%;
  float: left;
  margin: 20px 0 20px 0;
}
.contWrap .Wrap .contGeneral .contVideoGeneral video {
  width: 100%;
  height: auto;
  float: left;
}
.contWrap .Wrap .contGeneral .contVideoGeneral.wid50 {
  width: 48%;
  margin: 20px 0 20px 2%;
}
.contWrap .Wrap .contGeneral .contPdf {
  width: 100%;
  float: left;
  margin: 0 0 25px 0;
  padding: 0;
}
.contWrap .Wrap .contGeneral .contPdf.wid50 {
  width: 50%;
}
.contWrap .Wrap .contGeneral .contPdf h4 {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333334;
  font-weight: 300;
}
.contWrap .Wrap .contGeneral .contPdf a {
  text-decoration: none;
  margin: 5px 0 0 0;
  padding: 0;
  width: 100%;
  color: #139DC9;
  font-weight: 300;
  font-size: 12px;
  float: left;
  vertical-align: middle;
  min-height: 34px;
}
.contWrap .Wrap .contGeneral .contPdf a:hover {
  color: #002464;
}
.contWrap .Wrap .contGeneral .contPdf a i {
  font-size: 26px;
  vertical-align: middle;
}
.contWrap .Wrap .contGeneral .contPreguntasItem {
  width: 100%;
  float: left;
  margin: 0 0 80px 0;
  padding: 0;
}
.contWrap .Wrap .contGeneral .contPreguntasItem ul {
  width: 96%;
  padding: 0 0 0 4%;
  float: left;
  margin: 0;
}
.contWrap .Wrap .contGeneral .contPreguntasItem ul li {
  list-style-type: none;
  margin: 0 0 25px 0;
  padding: 0;
  float: left;
  width: 100%;
}
.contWrap .Wrap .contGeneral .contPreguntasItem ul li ul {
  width: 96%;
  float: left;
  margin: 10px 0 0 4%;
  padding: 0;
}
.contWrap .Wrap .contGeneral .contPreguntasItem ul li ul li {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 12px;
  color: #333;
}
.contWrap .Wrap .contGeneral .contPreguntasItem ul li h4 {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  color: #002464;
}
.contWrap .Wrap .contGeneral .contPreguntasItem ul li a {
  color: #002464;
  text-decoration: underline;
}
.contWrap .Wrap .contGeneral .contPreguntasItem ul li p {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 12px;
  color: #333;
}
.contWrap .Wrap .ContFuncioBanc {
  width: 100%;
  float: left;
  margin: 20px 0 80px;
  padding: 0;
}
.contWrap .Wrap .ContFuncioBanc ul {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .ContFuncioBanc ul li {
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
.contWrap .Wrap .ContFuncioBanc ul li a {
  width: 15.5%;
  min-height: 110px;
  background-color: #EDEDF0;
  border: 1px solid #CECED1;
  color: #002464;
  padding: 15px 0%;
  margin: 0% 0 1% 1%;
  text-decoration: none;
  text-align: center;
  float: left;
  border-radius: 10px;
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
.contWrap .Wrap .ContFuncioBanc ul li a:hover {
  background-color: #002464;
  color: #ffffff;
}
.contWrap .Wrap .ContFuncioBanc ul li a.sin {
  margin: 0 0 1% 0;
}
.contWrap .Wrap .ContFuncioBanc ul li a i {
  font-size: 55px;
}
.contWrap .Wrap .ContFuncioBanc ul li a i.icon-ico-logo-chile {
  font-size: 36px;
  margin-top: 20px;
  float: left;
  width: 100%;
}
.contWrap .Wrap .ContFuncioBanc ul li a i.icon-ico-bec {
  font-size: 30px;
  margin-top: 26px;
  float: left;
  width: 100%;
}
.contWrap .Wrap .ContFuncioBanc ul li a i.icon-ico-credichile {
  font-size: 30px;
  margin-top: 26px;
  float: left;
  width: 100%;
}
.contWrap .Wrap .ContFuncioBanc ul li a p {
  width: 100%;
  float: left;
  clear: both;
  font-size: 12px;
  margin: 10px 0;
  padding: 0;
  font-weight: 300;
  line-height: 120%;
}
.contWrap .Wrap .Contendor {
  width: 100%;
  margin: 20px 0;
  float: left;
  padding: 0;
  position: relative;
}
.contWrap .Wrap .Contendor .contFlujo {
  width: 100%;
  float: left;
  margin: 10px 0 30px 0;
  padding: 0px 0;
  position: relative;
}
.contWrap .Wrap .Contendor .contFlujo.wid50 {
  width: 48%;
  margin: 0 0 0 0;
}
.contWrap .Wrap .Contendor .contFlujo.wid50.left2 {
  margin-left: 2%;
}
.contWrap .Wrap .Contendor .contFlujo img {
  width: 100%;
  float: left;
}
.contWrap .Wrap .Contendor .contFlujo a {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  text-decoration: none;
}
.contWrap .Wrap .Contendor .contFlujo a i {
  font-size: 34px;
  color: #002464;
  border: none;
}
.contWrap .Wrap .Contendor .contFlujo span {
  background-image: url("../img/icon-tooltips.gif");
  width: 22px;
  height: 22px;
  position: absolute;
  display: block;
  text-align: center;
  line-height: 21px;
  color: #fff;
  font-size: 11px;
  z-index: 2;
  bottom: -27px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.contWrap .Wrap .Contendor p {
  color: #002464;
  font-weight: normal;
  padding: 0;
  margin: 10px 0;
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 120%;
}
.contWrap .Wrap .Contendor a {
  border: none;
}
.contWrap .Wrap .Contendor a img {
  width: 100%;
  float: left;
  border: 4px solid #002464;
  border-radius: 10px;
}
.contWrap .Wrap .Contendor img {
  width: 100%;
  float: left;
  border: 2px solid #002464;
  border-radius: 10px;
}
.contWrap .Wrap .Contendor hr {
  height: 1px;
  width: 100%;
  margin: 20px 0;
  padding: 0;
  border-top: 1px solid #EDEDF0;
  float: left;
}
.contWrap .Wrap .Contendor h3 {
  width: 100%;
  float: left;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-size: 24px;
}
.contWrap .Wrap .Contendor h3.top10 {
  margin-top: 10px;
}
.contWrap .Wrap .Contendor h3.top20 {
  margin-top: 20px;
}
.contWrap .Wrap .Contendor h3.top30 {
  margin-top: 30px;
}
.contWrap .Wrap .Contendor h3.top40 {
  margin-top: 40px;
}
.contWrap .Wrap .Contendor h3.top50 {
  margin-top: 50px;
}
.contWrap .Wrap .Contendor h3.top60 {
  margin-top: 60px;
}
.contWrap .Wrap .Contendor h3.top70 {
  margin-top: 70px;
}
.contWrap .Wrap .Contendor h3.left10 {
  margin-left: 10px;
}
.contWrap .Wrap .Contendor h3.left20 {
  margin-left: 20px;
}
.contWrap .Wrap .Contendor h3.left30 {
  margin-left: 30px;
}
.contWrap .Wrap .Contendor h3.left40 {
  margin-left: 40px;
}
.contWrap .Wrap .Contendor h4 {
  width: 100%;
  float: left;
  color: #000;
  margin: 15px 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-size: 16px;
}
.contWrap .Wrap .Contendor h4.top10 {
  margin-top: 10px;
}
.contWrap .Wrap .Contendor h4.top20 {
  margin-top: 20px;
}
.contWrap .Wrap .Contendor h4.top30 {
  margin-top: 30px;
}
.contWrap .Wrap .Contendor h4.top40 {
  margin-top: 40px;
}
.contWrap .Wrap .Contendor h4.left10 {
  margin-left: 10px;
}
.contWrap .Wrap .Contendor h4.left20 {
  margin-left: 20px;
}
.contWrap .Wrap .Contendor h4.left30 {
  margin-left: 30px;
}
.contWrap .Wrap .Contendor h4.left40 {
  margin-left: 40px;
}
.contWrap .Wrap .Contendor ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .Contendor ul li {
  list-style-type: none;
  width: 96%;
  float: left;
  padding: 0 0 0 4%;
  margin: 10px 0 0;
  color: #002464;
  font-size: 14px;
  position: relative;
}
.contWrap .Wrap .Contendor ul li:before {
  content: "•";
  position: absolute;
  left: 20px;
  top: 0;
  color: #002464;
}
.contWrap .Wrap .contGranMenuTab {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .contGranMenuTab ul {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .contGranMenuTab ul li {
  width: auto;
  float: left;
  margin: 0 0 0 20px;
  padding: 0;
}
.contWrap .Wrap .contGranMenuTab ul li:nth-child(1) {
  margin: 0;
}
.contWrap .Wrap .contGranMenuTab ul li a {
  text-decoration: none;
  position: relative;
  font-size: 15px;
  text-align: center;
  float: left;
  color: #002464;
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
  border: 1px solid #002464;
  border-radius: 5px;
}
.contWrap .Wrap .contGranMenuTab ul li a:hover {
  background-color: #EDEDF0;
  color: #002464;
}
.contWrap .Wrap .contGranMenuTab ul li a h4 {
  margin: 0px 0;
  padding: 5px 25px;
  font-weight: 300;
}
.contWrap .Wrap .contGranMenuTab ul li a h4 i {
  font-size: 30px;
  vertical-align: middle;
}
.contWrap .Wrap .contGranMenuTab ul li a h4 span {
  margin: 0 0 0 10px;
}
.contWrap .Wrap .contGranMenuTab ul li a.act {
  float: left;
}
.contWrap .Wrap .contGranMenuTab ul li a.act h4 {
  background-color: #234E85;
  color: #ffffff;
  font-weight: 300;
}
.contWrap .Wrap .contGranMenuTab ul li a.act:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 80px;
  width: 0;
  height: 0;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #234E85 transparent transparent;
}
.contWrap .Wrap .SubMenu {
  width: 100%;
  float: left;
  margin: 35px 0 25px;
  padding: 0;
}
.contWrap .Wrap .SubMenu ul {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #CECED1;
}
.contWrap .Wrap .SubMenu ul li {
  list-style: none;
  margin: 0 0 0 5px;
  padding: 0;
  width: auto;
  float: left;
}
.contWrap .Wrap .SubMenu ul li:nth-child(1) {
  margin: 0;
}
.contWrap .Wrap .SubMenu ul li a {
  text-decoration: none;
  float: left;
  width: auto;
  padding: 5px 15px;
  color: #000;
  border-top: 1px solid #CECED1;
  border-left: 1px solid #CECED1;
  border-right: 1px solid #CECED1;
  font-weight: 300;
  font-size: 12px;
  background-color: #EDEDF0;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.contWrap .Wrap .SubMenu ul li a.act {
  background-color: #ffffff;
  color: #002464;
}
.contWrap .Wrap .SubMenu ul li a.act:before {
  border-bottom: 5px solid #ffffff;
  bottom: -5px;
  left: 0;
  display: block;
  content: "";
  position: absolute;
  width: 100%;
}
.contWrap .Wrap .contContacto {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.contWrap .Wrap .contContacto h3 {
  color: #002464;
  font-size: 22px;
  width: 100%;
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 400;
}
.contWrap .Wrap .contContacto h4 {
  color: #002464;
  font-size: 18px;
  width: 100%;
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 300;
}
.contWrap .Wrap .contContacto h4.bajadaTit {
  margin: 15px 0 0;
  padding: 0 0 15px 0;
  float: left;
  border-bottom: 3px solid #139DC9;
}
.contWrap .Wrap .contContacto ul {
  margin: 20px 0 30px 0;
  padding: 0 2%;
  float: left;
  width: 96%;
}
.contWrap .Wrap .contContacto ul li {
  float: left;
  width: 100%;
  margin: 5px 0 0;
  padding: 0;
  color: #002464;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
  position: relative;
  min-height: 130px;
}
.contWrap .Wrap .contContacto ul li span {
  position: absolute;
  top: 30px;
  left: 0;
  color: #CFCFD2;
  font-size: 125px;
  font-weight: 600;
}
.contWrap .Wrap .contContacto ul li i {
  font-size: 85px;
  color: #139DC9;
  position: absolute;
  top: 10px;
  left: 30px;
}
.contWrap .Wrap .contContacto ul li i.icon-ico-telefono-2 {
  font-size: 60px;
  left: 40px;
  top: 35px;
}
.contWrap .Wrap .contContacto ul li .contSegund {
  width: 80%;
  float: right;
}
.contWrap .Wrap .contContacto ul li .contSegund p {
  margin-top: 10px;
  float: left;
  width: 100%;
  padding: 0;
  font-size: 14px;
}
.contWrap .Wrap .contContacto ul li .contSegund p b {
  font-weight: 600;
  color: #002464;
}
.contWrap .Wrap .contContacto ul li .contSegund ul.texBajada {
  float: left;
  width: 100%;
  margin: 15px 0 0;
  padding: 0;
}
.contWrap .Wrap .contContacto ul li .contSegund ul.texBajada li {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: auto;
  font-size: 14px;
}
.contWrap .Wrap .contContacto ul li .contSegund ul.texBajada li b {
  font-weight: 600;
  color: #002464;
}
.contWrap .Wrap .contContacto ul li a {
  text-decoration: none;
  color: #002464;
  font-weight: 600;
}
.contWrap .Wrap .contContacto ul li ul {
  width: 90%;
  padding: 0 5%;
  margin: 0 0%;
  float: left;
}
.contWrap .Wrap .contContacto ul li ul li {
  width: 100%;
  float: left;
  margin: 5px 0;
  padding: 0;
  list-style: circle;
}
.contWrap .Wrap.contNew {
  margin: -30px 10% 30px;
  position: relative;
  z-index: 99999;
}
.contWrap .Wrap.contNew h3 {
  margin: 0;
  width: 100%;
  float: left;
  padding: 0;
  font-weight: 300;
  font-size: 20px;
}
.contWrap .Wrap.contNew h3 i {
  color: #002464;
  font-size: 24px;
  background-color: #f8c439;
  border-radius: 50%;
  padding: 5px;
  margin-left: 5px;
}
.contWrap .Wrap.contNew .contNoticias {
  width: 100%;
  float: left;
  margin: 15px 0;
  padding: 0;
}
.contWrap .Wrap.contNew .contNoticias .Noti {
  width: calc(25% - 10px);
  float: left;
  margin: 0 5px;
  padding: 0;
  background-color: #fff;
  border-radius: 5px;
  min-height: 130px;
}
.contWrap .Wrap.contNew .contNoticias .Noti a {
  text-decoration: none;
  float: left;
  margin: 0;
  padding: 15px 0%;
  color: #234E85;
  width: 100%;
}
.contWrap .Wrap.contNew .contNoticias .Noti a .conLogo {
  width: 50px;
  float: left;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
}
.contWrap .Wrap.contNew .contNoticias .Noti a .conLogo i {
  font-size: 30px;
}
.contWrap .Wrap.contNew .contNoticias .Noti a .NotiText {
  width: calc(100% - 50px);
  float: left;
  margin: 7px 0 0;
  padding: 0;
  text-align: left;
}
.contWrap .Wrap.contNew .contNoticias .Noti a .NotiText h4 {
  font-weight: 600;
  font-size: 15px;
  float: left;
  margin: 0;
  padding: 0 2%;
  width: 96%;
}
.contWrap .Wrap.contNew .contNoticias .Noti a .NotiText span {
  float: left;
  margin: 0;
  padding: 0 2%;
  width: 96%;
  font-size: 12px;
  font-weight: normal;
}
.contWrap .Footer {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #EDEDF0;
  padding: 10px 0;
  float: left;
}
.contWrap .Footer .imgLogo {
  width: auto;
  float: left;
  margin: 25px 0 0 10%;
}
.contWrap .Footer .imgLogo i {
  color: #666667;
  font-size: 35px;
}
.contWrap .Footer .textFoter {
  width: auto;
  float: left;
  margin: 20px 95px;
  padding: 0;
}
.contWrap .Footer .textFoter p {
  width: auto;
  float: left;
  margin: 0;
  padding: 0;
  line-height: 120%;
  color: #666667;
  font-size: 11px;
}
.contWrap .Footer .logoInvovacion {
  width: auto;
  float: right;
  margin: 0 10% 0 0;
  padding: 0;
  text-align: center;
}
.contWrap .Footer .logoInvovacion p {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #666667;
  font-weight: 300;
}
.contWrap .Footer .logoInvovacion i {
  color: #666667;
  font-size: 75px;
  margin: -15px 0 0 60px;
  float: left;
}
.contWrap .ConPremios {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0px 0;
  background-color: #ffffff;
}
.contWrap .ConPremios .Wrap {
  margin: 0 auto 0;
}
.contWrap .ConPremios .Wrap h3 {
  width: 100%;
  float: left;
  color: #002464;
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 16px;
}
.contWrap .ConPremios .cajaRecon {
  width: 100%;
  float: left;
  background-color: #002464;
  margin: 0;
  padding: 20px 0;
}
.contWrap .ConPremios .cajaRecon .cajPremio {
  width: 24%;
  float: left;
  background-color: #EDEDF0;
  margin: 0 0 0 1%;
  padding: 0;
  border-radius: 5px;
  vertical-align: middle;
  overflow: hidden;
}
.contWrap .ConPremios .cajaRecon .cajPremio:nth-child(1) {
  margin: 0;
}
.contWrap .ConPremios .cajaRecon .cajPremio:nth-child(3) {
  margin: 0 1%;
}
.contWrap .ConPremios .cajaRecon .cajPremio:nth-child(3) .contTexto p {
  margin: 15px 0;
}
.contWrap .ConPremios .cajaRecon .cajPremio:nth-child(3) .contLogo {
  padding: 11px 5%;
}
.contWrap .ConPremios .cajaRecon .cajPremio:nth-child(4) {
  margin: 0 0%;
}
.contWrap .ConPremios .cajaRecon .cajPremio:nth-child(4) .contTexto p {
  margin: 22px 0;
}
.contWrap .ConPremios .cajaRecon .cajPremio:nth-child(4) .contLogo {
  padding: 11px 5%;
}
.contWrap .ConPremios .cajaRecon .cajPremio .contLogo {
  width: 30%;
  float: left;
  margin: 0;
  padding: 15px 5%;
  background-color: #ffffff;
}
.contWrap .ConPremios .cajaRecon .cajPremio .contLogo img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.contWrap .ConPremios .cajaRecon .cajPremio .contTexto {
  width: 58%;
  padding: 0 1%;
  float: left;
  vertical-align: middle;
}
.contWrap .ConPremios .cajaRecon .cajPremio .contTexto p {
  width: 92%;
  float: left;
  margin: 33px 0;
  padding: 0 4%;
  color: #000;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
}
.contWrap .Actualizacion {
  width: 100%;
  padding: 0px 0;
  float: left;
  overflow: hidden;
  background-color: #224fa3;
}
.contWrap .Actualizacion .topActual {
  width: 120%;
  height: 80px;
  background-image: -webkit-linear-gradient(89deg, #1397c2 61%, #ffffff 0);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  z-index: 10;
}
.contWrap .Actualizacion .topActual2 {
  z-index: 11;
  width: 120%;
  height: 100px;
  background-image: -webkit-linear-gradient(-87deg, #1397c2 19%, #224fa3 0);
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  position: relative;
  margin-top: -63px;
  margin-left: -10px;
}

.modalVideo {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 9999999;
  display: none;
}
.modalVideo .contVideoAct {
  position: relative;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 650px;
  height: 440px;
  background-color: #fff;
  display: table;
  padding: 10px;
}
.modalVideo .contVideoAct i {
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 35px;
  cursor: pointer;
  color: #fff;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

.invisible {
  visibility: hidden;
}

.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both;
}

@media (max-width: 1280px) {
  .contWrap .Banner img {
    width: auto;
    height: 280px;
  }
  .contWrap .Wrap {
    width: 1004px;
    margin: 57px auto 0;
  }
  .contWrap .Wrap .contText img {
    width: 120px;
    height: auto;
  }
  .contWrap .Wrap.contNew {
    margin: -30px 5% 30px;
  }
  .contWrap .cont {
    width: 90%;
    padding: 0 5%;
  }
}

/*# sourceMappingURL=main.css.map */
