@font-face {
  font-family: 'ayuda';
  src:  url('fonts/ayuda.eot?ilzuc2');
  src:  url('fonts/ayuda.eot?ilzuc2#iefix') format('embedded-opentype'),
    url('fonts/ayuda.ttf?ilzuc2') format('truetype'),
    url('fonts/ayuda.woff?ilzuc2') format('woff'),
    url('fonts/ayuda.svg?ilzuc2#ayuda') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ayuda' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-cartas-de-credito:before {
  content: "\e902";
}
.icon-comercio-exterior:before {
  content: "\e903";
}
.icon-donaciones:before {
  content: "\e904";
}
.icon-factoring:before {
  content: "\e905";
}
.icon-instruccion1:before {
  content: "\e907";
}
.icon-inversiones:before {
  content: "\e90a";
}
.icon-pago-linea-de-credito:before {
  content: "\e90b";
}
.icon-recaudacionCobranza1:before {
  content: "\e90c";
}
.icon-solicitar-boletas-de-garantia:before {
  content: "\e90e";
}
.icon-AppBanconexion:before {
  content: "\e90f";
}
.icon-ico-bec:before {
  content: "\e910";
}
.icon-ico-credichile:before {
  content: "\e911";
}
.icon-pdf:before {
  content: "\e912";
}
.icon-dolares:before {
  content: "\e913";
}
.icon-IconosSitioAyuda_herramienta:before {
  content: "\e914";
}
.icon-IconosSitioAyuda_videoConfiguracion:before {
  content: "\e915";
}
.icon-flag:before {
  content: "\e916";
}
.icon-Saldo-y-Movimientos-Linea:before {
  content: "\e917";
}
.icon-derechoClienteBancario:before {
  content: "\e918";
}
.icon-DocumentoUnUsuario:before {
  content: "\e919";
}
.icon-seguridad-alarmas:before {
  content: "\e91a";
}
.icon-Deposito-a-Plazo-Inversiones:before {
  content: "\e91b";
}
.icon-fondos-mutuos:before {
  content: "\e91c";
}
.icon-graficoInversiones:before {
  content: "\e91d";
}
.icon-Resumen-Inversiones:before {
  content: "\e91e";
}
.icon-seguros:before {
  content: "\e91f";
}
.icon-Pago-CreditoConsumo:before {
  content: "\e920";
}
.icon-Pago-Credito-Hipotecario:before {
  content: "\e921";
}
.icon-pago-linea-de-credito1:before {
  content: "\e922";
}
.icon-Saldo-y-Movimientos-TC:before {
  content: "\e923";
}
.icon-editar-datos-personales:before {
  content: "\e924";
}
.icon-IconosSitioAyuda_ultimosIngresos:before {
  content: "\e925";
}
.icon-IconosSitioAyuda_notificaciones:before {
  content: "\e926";
}
.icon-configurarTarjetas:before {
  content: "\e927";
}
.icon-cheque:before {
  content: "\e928";
}
.icon-IconosSitioAyuda_postventa:before {
  content: "\e929";
}
.icon-IconosSitioAyuda_miPass:before {
  content: "\e92a";
}
.icon-IconosSitioAyuda_like:before {
  content: "\e92b";
}
.icon-IconosSitioAyuda_Ingreso:before {
  content: "\e92c";
}
.icon-IconosSitioAyuda_engranaje-flaco:before {
  content: "\e92d";
}
.icon-IconosSitioAyuda_emergencias:before {
  content: "\e92e";
}
.icon-ico-logo-chile:before {
  content: "\e92f";
}
.icon-ico-logo-inovacion:before {
  content: "\e930";
}
.icon-ico-portal-persona:before {
  content: "\e931";
}
.icon-ico-funcionalidad:before {
  content: "\e932";
}
.icon-ico-herramienta-implementacion:before {
  content: "\e933";
}
.icon-ico-herramienta-posventa:before {
  content: "\e934";
}
.icon-ico-herramientas-venta:before {
  content: "\e935";
}
.icon-ico-portal-interno:before {
  content: "\e936";
}
.icon-ico-aTercero:before {
  content: "\e937";
}
.icon-ico-config:before {
  content: "\e938";
}
.icon-ico-cuentas:before {
  content: "\e939";
}
.icon-ico-intrucc:before {
  content: "\e93a";
}
.icon-ico-linea-credito:before {
  content: "\e93b";
}
.icon-ico-masivo:before {
  content: "\e93c";
}
.icon-ico-pagoCuenta:before {
  content: "\e93d";
}
.icon-ico-pagos:before {
  content: "\e93e";
}
.icon-ico-pagosHoja:before {
  content: "\e93f";
}
.icon-ico-pantalla:before {
  content: "\e940";
}
.icon-ico-perfil:before {
  content: "\e941";
}
.icon-ico-recaudacion:before {
  content: "\e942";
}
.icon-ico-tarjeta:before {
  content: "\e943";
}
.icon-ico-flecha:before {
  content: "\e944";
}
.icon-link:before {
  content: "\e945";
}
.icon-checkmark:before {
  content: "\e946";
}
.icon-checkmark2:before {
  content: "\e947";
}
.icon-cancel:before {
  content: "\e948";
}
.icon-cancel2:before {
  content: "\e949";
}
.icon-plus1:before {
  content: "\e94a";
}
.icon-plus2:before {
  content: "\e94b";
}
.icon-minus1:before {
  content: "\e94c";
}
.icon-minus2:before {
  content: "\e94d";
}
.icon-warning:before {
  content: "\e94e";
}
.icon-checkmark3:before {
  content: "\e94f";
}
.icon-cancel3:before {
  content: "\e950";
}
.icon-magnifier:before {
  content: "\e951";
}
.icon-zoomin:before {
  content: "\e952";
}
.icon-zoomout:before {
  content: "\e953";
}
.icon-resize:before {
  content: "\e954";
}
.icon-expand:before {
  content: "\e955";
}
.icon-ico-sobres-2:before {
  content: "\e956";
}
.icon-ico-telefono-2:before {
  content: "\e957";
}
.icon-ico-video:before {
  content: "\e958";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-banco-linea:before {
  content: "\e908";
}
.icon-hazte-cliente:before {
  content: "\e909";
}
.icon-servicio-cliente:before {
  content: "\e90d";
}
.icon-A-mas:before {
  content: "\e900";
}
.icon-A-menos:before {
  content: "\e901";
}
.icon-campana:before {
  content: "\e906";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-warning1:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
